* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(170, 245, 248, 1) 0%,
    rgba(248, 162, 239, 0.8) 90%
  );
}

.logo {
  height: 45px;
  width: 250px;
  padding-left: 2rem;
}

.header form {
  margin-left: -2rem;
  padding: 1.3rem;
}

.header input {
  padding: 12px 16px;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  outline: none;
  min-width: 290px;
}

.header button {
  background: #cd34db;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500;
}

.currDayData {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: start;
  background-image: linear-gradient(
    102.8deg,
    rgba(140, 235, 252, 1) 12.3%,
    rgba(248, 193, 232, 1) 48.6%,
    rgba(252, 244, 211, 1) 85.1%
  );
}

.currDayData img {
  height: 24rem;
  width: 28rem;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  border-radius: 14px;
  border: 2px solid #00000029;
}

.weatherData {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#date {
  font-size: 21px;
  font-weight: 500;
  color: #ff0000;
  margin-bottom: -35px;
  margin-top: 1rem;
}

.currDayData span {
  font-size: 40px;
  font-weight: 600;
  color: #070307;
}

.currDayData p {
  font-size: 18px;
  color: black;
  font-weight: 500;
}

.data {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 2rem;
  margin-top: 3rem;
}

.cdata1 {
  display: flex;
  align-items: center;
}
.cdata1 p {
  font-size: 40px;
  font-weight: 100;
}

.cdata1 img {
  height: 80px;
  width: 80px;
  border: none;
}

.cdata2 p {
  padding: 0.5rem;
  font-weight: 400;
}

.data p {
  flex-wrap: wrap;
}

/* forecast */

.forecast {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
  background-image: linear-gradient(
    102.8deg,
    rgba(140, 235, 252, 1) 12.3%,
    rgba(248, 193, 232, 1) 48.6%,
    rgba(252, 244, 211, 1) 85.1%
  );
}

.forecast-item {
  background: rgba(255, 255, 255, 0.8);
  border: 1.5px solid #eee;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
  max-width: 400px;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(170, 245, 248, 1) 0%,
    rgba(248, 162, 239, 0.8) 90%
  );
}

.forecast-item:nth-child(even) {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(248, 162, 239, 0.8) 0%,
    rgba(133, 246, 250, 0.856) 90%
  );
}

.forecast-item img {
  opacity: 0.8;
  height: 70px;
  width: 70px;
  margin-right: 5rem;
}

.forecast-item p {
  display: flex;
  justify-content: center;
}

.forecast-item .p1 span {
  font-size: 17px;
  font-weight: 500;
  margin-top: 1.7rem;
  margin-left: -5rem;
}

.forecast-item .p2 {
  font-size: 40px;
  font-weight: 600;
  margin-top: -1rem;
}

.forecast-item .p3 {
  line-height: 5px;
  margin-bottom: 1rem;
  font-weight: 500;
}

.forecast-item .p4 span {
  font-size: 14px;
  padding: 0.5rem;
  font-weight: 500;
}

.forecast-item .p5 {
  font-size: 14px;
  font-weight: 500;
}

/* footer */

footer {
  /* background-image: linear-gradient(
    102.8deg,
    rgb(162, 190, 1) 12.3%,
    rgb(250, 100, 0) 48.6%,
    rgb(160, 160, 160) 85.1%
  ); */

  background-color: #d404d45e;
  padding: 1rem;
  text-align: center;
}

footer p {
  margin: 0;
  color: rgb(17, 17, 17);
}

footer a {
  color: rgb(19, 18, 18);
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 10px;
  background: #f58484de;
}

::-webkit-scrollbar-thumb {
  background: #ce60d8;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #b039ff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 1s linear infinite;
  display: none;
}
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media (max-width: 950px) {
  .currDayData img {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 600px) {
  .logo {
    display: none;
  }

  .empty {
    display: none;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .header input {
    min-width: 230px;
    margin-left: 1.8rem;
  }

  .header h1 {
    font-size: 15px;
  }

  .currDayData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .currDayData img {
    width: 330px;
    height: 300px;
    margin: 1rem 0 0 0;
  }

  #date {
    font-size: 16px;
  }

  .currDayData span {
    font-size: 35px;
  }

  .currDayData h2 p {
    font-size: 16px;
    text-wrap: wrap;
  }

  #location {
    margin-top: 5px;
  }

  .data {
    height: fit-content;
    margin: 1.5rem 0;
  }

  .data p {
    padding: 1rem;
  }

  .cdata1 img {
    height: 70px;
    width: 70px;
  }

  .cdata1 span {
    font-size: 40px;
    margin-left: -1.5rem;
  }

  .cdata1 p {
    margin-left: -1.7rem;
  }

  .cdata2 p {
    font-size: 14px;
    padding: 10px;
  }

  .forecast {
    flex-direction: column;
    padding-top: 1rem;
  }
  .forecast-item {
    min-width: 300px;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .forecast-item img {
    height: 60px;
    width: 60px;
  }

  .forecast-item .p1 span {
    margin-top: 1.2rem;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
